.carousel-container {
    text-align: center;
    font-style: normal;
    width: 100%;
    height: 75vh;
    position: relative;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 255, 0.253);
    background-blend-mode: multiply;
}

.carousel-container  h1 {
    font-size: 3rem;
}
/* 
.carousel > p{
    z-index: 2;
    position: absolute;
    top: 10%;
} */

.carousel1{
    background-image: url(../assets/images/girls.jpg);
}

.carousel2{
    background-image: url(../assets/images/groundnutpaste1.jpg);
}

.carousel3{
    background-image: url(../assets/images/sheabutter1.jpg);
}