.sidenav {
  width: 12%;
  position: relative;
  /* display: none; */
  margin-right: 4px;



  
}
.sidenav > ul {
    position: fixed;
    
  width: 11%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background: rgba(0, 0, 0, 0.11);
  border-radius: 0px 10px 10px 0px;
  border: 2px solid whitesmoke;
  

}
.sidenav li{
    font-size: .8rem;
  
}